
.row {
    margin: 20px;
}
h1 {
    margin-bottom: 30px;
}
.card-title {
    margin-bottom: 30px;
}
.btn {
    margin: 10px;
    text-align: left;
}
li {
    text-align: left;
    background-color: lightcyan;
    margin: 10px;
}